Total Army: {{totalArmyPoints}}

<h3>HQ Choices</h3>
<mat-form-field appearance="fill">
  <mat-label>HQ Choices</mat-label>
  <mat-select #hqSelector>
    <mat-select-trigger>{{hqSelector.value?.name}}</mat-select-trigger>
    <mat-option *ngFor="let hqUnit of spaceMarineHq" [value]="hqUnit">{{hqUnit.name}}</mat-option>
  </mat-select>
</mat-form-field>
<button mat-raised-button color="primary" (click)="addUnit('hqChoices', hqSelector.value)">Add</button>
<model-display-component
        [unitList]="armyList.hqChoices"
        [unitType]="'hqChoices'"
        (removeUnit)="removeUnit($event)"
        (changeUnitSize)="changeUnitSize($event)"
></model-display-component>

<mat-divider></mat-divider>

<h3>Troop Choices</h3>
<mat-form-field appearance="fill">
  <mat-label>Troop Choices</mat-label>
  <mat-select #troopSelector>
    <mat-select-trigger>{{troopSelector.value?.name}}</mat-select-trigger>
    <mat-option *ngFor="let troopUnit of spaceMarineTroops" [value]="troopUnit">{{troopUnit.name}}</mat-option>
  </mat-select>
</mat-form-field>
<button mat-raised-button color="primary" (click)="addUnit('troopChoices', troopSelector.value)">Add</button>
<model-display-component
        [unitList]="armyList.troopChoices"
        [unitType]="'troopChoices'"
        (removeUnit)="removeUnit($event)"
        (changeUnitSize)="changeUnitSize($event)"
></model-display-component>
